<%- include('partials/header') %> 
<%- include('partials/nav') %> 
    <!-- <h1>Your random number is <%= Math.floor(Math.random()*10) + 1%></h1> -->
    <!-- we want to seperate our logic and our template as much as possible -->
    <h1>Your random number is <%= randomNumber %></h1>
    <%- include('partials/footer') %> 