<%- include('partials/header') %> 
<%- include('partials/nav') %> 
    <!-- this tag returns us value and add it to our template -->
    <!-- <%= %> -->
    <h1>User Page <%= username %> </h1>
    <%- include('partials/footer') %> 